@import "vars";
@import "fonts";
@import "libs";
@import "./_mixins/media"; // Always at the end


.wrapper {
    width: 500px;
    text-align: center;
    margin: 0 auto;

    @include respondMin(lgTo) {
        width: 100px;
				color: red;
    }
}

  /* Слайдер */

.slider {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid green;

    .slide {
        background: #007ACC;
        text-align: center;
        height: 300px;
    }
}

 /* Валидация */

body {
	text-align: center;
	padding: 10px;
}

.form {
	display: inline-block;
	padding: 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
  width: 500px;
  margin-top: 20px;
}

.form__field {
	margin-bottom: 10px;
}

.form__error {
	color: red;
	text-align: left;
	font-size: 12px;
	display: block;
	margin-top: 3px;
	display: none;
}

.form input {
	outline: none;
	display: block;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

.form button {
	width: 100%;
	padding: 10px;
	border-radius: 2px;
	border: 0;
	background-color: #ccc;
	color: #fff;
}

.error {
	color: red;
}

input.error {
	border: 1px solid red;
}


/* Яндекс API */

.map {
	width: 1000px;
	height: 700px;
	margin: 30px auto;
}