@import "vars";
@import "fonts";
@import "libs";
@import "./_mixins/media"; // Always at the end


.wrapper {
  width: 500px;
  text-align: center;
  margin: 0 auto;

  @include respondMin(lgTo) {
    width: 100px;
    color: red;
  }
}

.slider {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid green;

  .slide {
    background: #007ACC;
    text-align: center;
    height: 300px;
  }
}

/* Форма */

body {
  text-align: center;
  padding: 10px;
}

.form {
	margin: 30px auto;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
  border: 1px solid #333;
	box-sizing: border-box;
	outline: none;
	display: block;
}

.formGroupe {
	margin: 5px 0;
	text-align: left;
}

/* Это стиль для сообщений об ошибке */
.errorEmail {
  font-size: 80%;
  color: red;
  box-sizing: border-box;
}

.errorText {
  font-size: 80%;
  color: red;
  box-sizing: border-box;
}

.error {
	border-color: red;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}